<link href ="~/css/Starts.css" asp-append-version="true" rel="stylesheet" />
<div>
<h2>Välkommen! Vad vill du göra idag?</h2> 
<a asp-controller ="Admin" asp-action="AddCustomer"><button>Registrera ny kund</button></a>
<br />
<br />
<a asp-controller ="Login" asp-action="Register"><button>Registrera ny inloggning</button></a>
<br />
<br />
<a asp-controller ="Admin" asp-action="CreateAccountType"><button>Skapa kontotyp</button></a>
<br />
<br />
<a asp-controller ="Admin" asp-action="CreateLoan"><button>Hantera lån</button></a>
<br />
<br />
<a asp-controller ="Admin" asp-action="MakeLoanInput"><button>Sätt in lån</button></a>
</div>
