<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/Shared.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h2 class="shared">Nodify</h2>
            <p class="sharedP">allas favorit bank</p>
        </header>
        <div>
            @RenderBody()
        </div>
    </body>
</html>